.panda-bg-info{
    background-color: #fceae8;
}
.imgsi img{
    width: 90px;
}
.btn-panda{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
}